body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}
a {
    color: #900;
}
a:hover {
    color: #f66;
}
.title {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
.contents {
    background: #ccc;
    color: #333;
    padding: 20px 30px 40px;
}
.contents:after {
    content: "";
    display: block;
    clear: both;
}
.about {
    width: 60%;
    float: left;
}
.contact {
    width: 35%;
    float: right;
}
.fl {
    float: left;
    margin-right: 20px;
}